*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}


header{
    background-color: #00668b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    
}

#logo{
    width: 200px;
    height: auto;
    cursor: pointer;
}

body{
    width: 100%;
}

/* nav center */

nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 450px; 
}

    
nav li{
    display: inline-block;
    position: relative;
    margin: 0 10px;
   
}

nav a {
    color: #1ecfdd;
}
nav a:hover{
    font-size: 17px;
}

nav a::before{
    content:'';
    display: block;
    height: 5px;
    background-color: #1ecfdd;
    border-radius: 15px;


    position: absolute;
    transition: ease-in-out 75ms;
    width: 0%;
}

nav a:hover::before{
    width: 100%;
    margin-top: 25px;
}
/* nav center end */

/*intro section*/

 #hero{
     background-color: #00668b;
     padding-top: 150px;
 }
     
 #hero p{
     color: #1ecfdd;
     font-size: 20px;
     margin-left: 45px;
     padding: 10px;
     font-family: 'Raleway', sans-serif;
   
 }

 #hero h1{
     color: #b73746;
     font-size: 80px;
     margin-left: 40px;
     padding: 10px;
     font-family: 'Raleway', sans-serif;

 }

 #hero h2{
     color: #6d232c;
     font-size: 80px;
     margin-left: 40px;
     padding: 10px;
     font-family: 'Raleway', sans-serif;
 }
 /*intro section end*/

 /*contact section*/

 #contact{
     background-color: #1ecfdd;  
     padding-top: 40px;
     padding-bottom: 40px;
 }
 #contact h1, h2{
     color: #6d232c;
     font-size: 60px;
     margin-left: 40px;
     padding: 10px;
     font-family: 'Raleway', sans-serif;
 }
 #contact a{
    margin-left: 40px;
    padding: 10px;
    
 }
 #contact img{
     height: auto; 
     width: 50px; 
     margin-top: 20px;
     margin-bottom: 20px;  
 }
/* end of contact section */

 /* end of project section */
 #projects{
     background-color: #00668b;
   
 }
 #projects h1{
    color: #6d232c;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin-left: 45px;
    padding: 10px;
 }

 #projects-links{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 
                "auto auto"
    ;
 }

 #projects a{
    margin-left: 45px;
    padding: 10px;
    color: #1ecfdd;
 }

 #projects img{
     width: 550px;
     height: auto;
     grid-column-start: span 2;
 }
 /* end of project section */

 /*start of the about section */

 #about{
     background-color: #1ecfdd;
 }
 #about h1{
    color: #6d232c;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin-left: 40px;
    padding: 10px;
 }

 #wrapper{
    margin-left: 40px;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 300px;
 }
    
 #about p{
     color: #00668b;
     font-family: 'Roboto', sans-serif;
     grid-column-start: span 2;
 }

 #about ul{
     color: #00668b;
     list-style-type: none;
     grid-column-start: span 2;
     text-align: left;
     margin-left: 70px;

 }

 #about ul li:before {

    content: '';
  
    display: inline-block;
  
    height: 11px;
  
    width: 10px;
  
     background-size: 6px;
  
    background-image: url(Assets/List-style-triangle.png);
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
 }

 #about li{
    font-family: 'Raleway', sans-serif;
 }
 
 #about img{
     width: 350px;
     height: auto;
     grid-column-start: span 2;
     border-radius: 50px;
     border: 5px solid #00668b;
 }
 /* end of about section */
 
 footer{
     font-size: 1px;
     height: 1px; 
 }
 footer a{
     font-size: 1px;
 }

 /* Mobile Responsive*/

 @media only screen and (max-width: 415px){
    
    header{
        background-color: #00668b;
        position: fixed;
        width: 100%;
    }
    #logo{
        display:none;
    }

    #navbar ul{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    #navbar li{
        margin-bottom: 7px;
    }


    nav a::before{
        content:'';
        display: none;
        height: 5px;
        background-color: #1ecfdd;
        border-radius: 15px;


        position: absolute;
        transition: ease-in-out 75ms;
        width: 0%;
    }

    #navlinks{
        font-size: 20px;
    }

    #hero h1{
        font-size: 55px;
    }
    #hero h2{
        font-size: 50px;
    }

     #contact h1{
        font-size: 50px;
    }

    #contact h2{
        font-size: 55px;
    }

    #projects h1{
        font-size: 50px;
        margin-right: 5px;
    }

    #projects-links{
        display: flex;
        flex-direction: column;
        color: #1ecfdd;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
     }
     #projects img{
         width: 245px;
         height: auto;
     }

     #projects p{
        margin-left: 40px;
        padding: 10px;
     }

     #about h1{
         font-size: 50px;
     }

     #wrapper{
        display: flex;
        flex-direction: column;
     }

     #wrapper p{
         margin-bottom: 15px;
     }
     #wrapper ul{
        margin-left: 0px;
        margin-bottom: 15px;
        padding: 0px;
     }
     #wrapper ul p{
         margin-bottom: 0px;
     }
     #wrapper img{
        width: 200px;
        height: auto;
        margin-left: 10px;
        
     }
    
 }
